[submodule "drivers/rfm95w"]
	path = drivers/rfm95w
	url = https://github.com/arsalan-anwari/rfm95w.git
[submodule "drivers/ata8520e"]
	path = drivers/ata8520e
	url = https://github.com/arsalan-anwari/ata8520e.git
[submodule "drivers/hc06"]
	path = drivers/hc06
	url = https://github.com/arsalan-anwari/hc06.git
[submodule "drivers/dht"]
	path = drivers/dht
	url = https://github.com/arsalan-anwari/dht.git
